.weaponMessage {
  text-align: center;
}

.rules {
  text-align: center;
}

.scoreBoard {
  display: flex;
  justify-content: center;
}

.selection {
  display: flex;
  justify-content: center;
}

.copyright {
  text-align: center;
}

* {
  border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P";
  background-color: #635c6d;
  color: #ffffd1;
}

header {
  background-color: #150413;
  color: #ffffd1;
  padding: 2px;
  text-align: center;
  font-size: 1.5em;
}

.headerText {
  padding: 30px;
  margin: 0;
}

.weaponMessage {
  padding-top: 3%;
  margin: 0;
  font-size: 1.75em;
}

.rules {
  padding-top: 2%;
  padding-bottom: 1%;
  margin: 0;
  font-size: 1em;
}

.compBoard,
.playerBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1%;
  margin-top: 0;
}

.ComputerScoreBoard,
.PlayerScoreBoard {
  font-size: 1em;
}

.rockBtn,
.paperBtn,
.scissorBtn {
  margin: 1%;
  padding: 1%;
  background-color: #706a7a;
}

.rockBtn:hover,
.paperBtn:hover,
.scissorBtn:hover {
  margin: 1%;
  padding: 1%;
  scale: 1.1;
  background-color: #807a8a;
}

.playAgainBox {
  background-color: #150413;
  position: fixed;
  z-index: 10;
  width: 30%;
  height: 30%;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  margin-top: -13%;
  margin-left: -15%;
  border: 3px dashed #ffffd1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playAgainBox > h2 {
  text-align: center;
  padding-bottom: 5%;
}

.playAgainBox > div {
  display: inline;
  width: 40%;

  text-align: center;
  padding: 3%;
  background-color: #807a8a;
}

.playAgainBox > div:hover {
  scale: 1.1;
  background-color: #958f9f;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 0.6em;
    margin-bottom: 7%;
  }

  .rules {
    font-size: 0.75em;
    margin-bottom: 7%;
  }

  .weaponMessage {
    font-size: 1em;
    margin-bottom: 7%;
  }

  .ComputerScoreBoard,
  .PlayerScoreBoard {
    font-size: 0.75em;
  }

  footer {
    font-size: 0.75em;
    margin-top: 5%;
  }

  .selection {
    margin-top: 3%;
  }

  .playAgainBox {
    background-color: #150413;
    position: fixed;
    z-index: 10;
    width: 70%;
    height: 30%;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    margin-top: -30%;
    margin-left: -35%;
    border: 3px dashed #ffffd1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
  }
}
